body {
  background: white;
  background-image: url(img/bg1.png);
  background-repeat: no-repeat;
  background-position: top left;
}

h1 {
  color: black;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
